{% extends 'base.html.twig' %}

{% block title %}Newsletter index{% endblock %}

{% block body %}
    <section class="container page-content">
        <div class="row mt-4 mb -4 justify-content-center">
            <h1>Newsletter index</h1>
        </div>
        <div class="row mt-4 mb -4 justify-content-center">
            <table class="table table-responsive table-striped ">
                <thead class="bg-secondary">
                <tr>
                    {#                <th>Id</th>#}
                    <th>Subject</th>
                    <th>Post</th>
                    <th>Date</th>
                </tr>
                </thead>
                <tbody>
                {% for newsletter in newsletters %}
                    <tr class="">
                        {#                <td>{{ newsletter.id }}</td>#}
                        <td>{{ newsletter.subject }}</td>
                        <td>{{ newsletter.post|raw }}</td>
                        <td>{{ newsletter.date ? newsletter.date|date('Y-m-d') : '' }}</td>
                        <td>
                            {#                    <a href="{{ path('newsletter_show', {'id': newsletter.id}) }}">show</a>#}
                            {#                    <a href="{{ path('newsletter_edit', {'id': newsletter.id}) }}">edit</a>#}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <a href="{{ path('newsletter_new') }}">Create new</a>
        </div>
    </section>



{% endblock %}
