{#{% extends '_layout.html.twig' %}#}
{% extends 'base.html.twig' %}
{% block navbar %}{% endblock %}
{% block title %}Je cree mon {{ typeStatut == 'SAS' ? 'SAS' : 'SASU' }} {% endblock %}

{% block stylesheets %} 
{{ parent() }}
{{ encore_entry_link_tags('createSasSasu') }}  
{% endblock %}

{% block body %}
<style>


</style>

<div class="container-fluid">
<!-- MultiStep Form -->
<div class="row">
    <div class="col-md-12">
        
        <form id="msform" class="">
            <!-- progressbar -->
            <ul id="progressbar">
                <li class="active">General Information</li>
                <li>Create Quote Request</li>
                <li> Select Vendors  </li>
              <li>Analysis Options</li>
              <li>Review and Submit</li>
            </ul>
            <!-- fieldsets -->
            <fieldset>
                <h2 class="fs-title">Step #1 General Information</h2>
    
            <input type="button" name="next" class="next action-button left-right-hover" value="Next"/>
            </fieldset>
            
            <fieldset>
                 <h2 class="fs-title ">Step #2 CREATE QUOTE REQUEST</h2>
              
                <input type="button" name="previous" class="previous action-button-previous" value="Previous"/>
                <input type="button" name="next" class="next action-button left-right-hover" value="Next"/>
            </fieldset>
            
            <fieldset>
                  <h2 class="fs-title ">Step #3 Select Vendors for Comparable Quotes</h2>
  
                <input type="button" name="previous" class="previous action-button-previous" value="Previous"/>
                <input type="button" name="next" class="next action-button left-right-hover" value="Next"/>
            </fieldset>
            
            <fieldset>
                    <h2 class="fs-title ">Step #4 Analysis Options</h2>

                <input type="button" name="previous" class="previous action-button-previous" value="Previous"/>
                <input type="button" name="next" class="next action-button left-right-hover" value="Next"/>
            </fieldset>
            
            <fieldset>
                    <h2 class="fs-title ">Step #5 Review and Submit </h2>
                    <input type="button" name="previous" class="previous action-button-previous mid" value="Review Request "/>
                    <input type="submit" name="submit" class="submit action-button" value="Submit"/>
            </fieldset>
            
        </form>
        <!-- link to designify.me code snippets -->

</div>
<!-- /.MultiStep Form -->
</div>

{% block javascripts %}
    
    {{ parent() }}
    {{ encore_entry_script_tags('createSasSasu') }}

{% endblock %}
{% endblock %}