{% extends '_layout.html.twig' %}
{#{% extends 'base.html.twig' %}#}
{% block dashboard %}{% endblock %}
{% block stylesheets %} 
{{ parent() }}
{{ encore_entry_link_tags('createcompany') }}  
{{ encore_entry_link_tags('tab1') }}  
{% endblock %}

{% block title %}Je cree mon {{ typeStatut == 'ME' ? 'ME' : 'EI' }} {% endblock %}

{% block body %}
<style>

    /*body{*/
    /*    background-size: cover;*/
    /*    background: white;*/
    /*    margin: 1%;*/
    /*    text-align: center;*/
    /*    width: 100%;*/
    /*}*/
    b{
        margin: 0 0px 0 20px;
    }
     .haut{
        margin-top: 80px;
        margin-left: 3%;
    }
    .breadcrumb{
        background: none;
    }
     .tailInput{
      margin-left:33%;
      margin-bottom: 1%;
      width: 34%;
      text-align: center;
      
    }
    
    #progressbar li {
    list-style-type: none;
    color:#BEA058;
    text-transform: uppercase;
    font-size: 12px;
    width: 13.33%;
    float: left;
    position: relative;
    letter-spacing: 1px;
}
</style>


        <div class="breadcrumb progression haut">
            <ul class="nav nav-tabs">
                <a data-toggle="tab" class="active"><b>1 - Détail de votre projet</b></a>
                <a data-toggle="tab" > <b>2 - Vos Informations</b></a>
                <a data-toggle="tab"> <b>3 - Paiement</b></a>
                <a data-toggle="tab" ><b>4 - Société créée !</b></a>
            </ul>
        </div>
        
  <div class="row">
    <div class="col-md-12">
        
        <div id="msform" class="">
            <!-- progressbar -->
            <ul id="progressbar">
                <li class="active">delai et evolution</li>
                <li>Nom Societe</li>
                <li>Secteur d'activite</li>
                <li>Objet Social</li>
                <li>siege</li>
                <li>marie(e)/celibataire</li>
                <li>Informations de contact</li>
            </ul>
    
         {% if typeStatut == 'ME'%}
            {{ form_start(formMe) }} 
            {{ form_start(formMePerson) }}
            {{ form_start(formMeUser) }}
          {% endif %}
            
            {% if typeStatut == 'EI' %}
             {{ form_start(formEi) }} 
             {{ form_start(formEiPerson) }}
             {{ form_start(formEiUser) }}
            {% endif %}
                  
        {% if emailUsed == true %}
          <div class="alert alert-danger">
              Cet adresse Email: <strong>{{ user.email }}</strong> existe déja!
          </div>
        {% endif%}
    
         
     
     
    <!-- fieldsets -->
        <fieldset>
            <h2 class="fs-title ">Dans quel délai souhaitez-vous créer votre {{ typeStatut == 'ME' ? 'ME' : 'EI' }} ?</h2>
            <div class="tailInput">  
                  {% if typeStatut == 'ME' %}
                 {{ form_widget(formMe.priority)}}
                 {% else %}
                   {{ form_widget(formEi.priority)}}
                  {% endif %}
                  
            <div class="d-none">
              {% if typeStatut == 'ME' %}
               {{ form_widget(formMe.companyType) }}
               {{ form_widget(formMe.addressManager) }}
               {{ form_widget(formMe.manager)}}
               {{ form_widget(formMe.hasDirector)}} 
               {{ form_widget(formMe.country)}} 
               {{ form_widget(formMe.tradeName)}} 
               {{ form_widget(formMe.hasAssociate)}} 
               {{ form_widget(formMe.hasProtection)}} 
               {{ form_widget(formMe.bankName)}} 
               {{ form_widget(formMe.capitalSocial)}} 
             {% else %}
               {{ form_widget(formEi.companyType) }}
               {{ form_widget(formEi.addressManager) }}
               {{ form_widget(formEi.manager)}}
               {{ form_widget(formEi.hasDirector)}} 
               {{ form_widget(formEi.country)}} 
               {{ form_widget(formEi.tradeName)}} 
               {{ form_widget(formEi.hasAssociate)}} 
               {{ form_widget(formEi.hasProtection)}} 
               {{ form_widget(formEi.bankName)}} 
               {{ form_widget(formEi.capitalSocial)}}
                {{ form_widget(formEiPerson.nationality)}}
              {% endif %}
           </div>
           </div>
           <div>
                Exerciez-vous votre activité sous le régime de la micro-entreprise ?
                {% if typeStatut == 'ME' %}
                    {{ form_row(formMe.regimeMicroEntreprise)}} 
                {% else %}
                   {{ form_row(formEi.regimeMicroEntreprise)}} 
                {% endif %}
          </div>
            <a href="{{ path('create_entreprise')}}"  class="action-button-previous btn"> Annuler </a>
            <input type="button" name="next" class="next action-button left-right-hover" value="Suivant"/>
            
        </fieldset>
     
        
        
        <fieldset>

            <h2 class="fs-title ">Quel nom choississez vous pour votre entreprise?</h2>
                <div class="tailInput">  
                     {% if typeStatut == 'ME' %}
                       {{ form_widget(formMe.name)}} 
                     {% else %}
                       {{ form_widget(formEi.name)}} 
                      {% endif %}
              </div>
                <div  class="alert alert-info" role="alert">
                    <small>
                      (Le nom servira à identifier votre société. Il devra figurer sur tous les documents commerciaux de 
                      votre société y compris les factures Vous devez renseigner ici la dénomination sociale 
                      qui est différent du nom commercial)
                  </small>
                </div>
        
                <input type="button" name="previous" class="previous action-button-previous" value="Retour"/>
                <input type="button" name="next" class="next action-button left-right-hover" value="Suivant"/>
                
        </fieldset>
  

         <fieldset>

            <h2 class="fs-title ">Quel est votre secteur d’activité ? </h2>
            <div class="tailInput"> 
                {% if typeStatut == 'ME' %}
                   {{ form_widget(formMe.activitySector)}} 
                {% else %}
                   {{ form_widget(formEi.activitySector)}}
                {% endif %}
            </div>
                <p>
                  Si autre merci de le préciser :
                </p>
            <div class="tailInput">
                  <input type="text" id="company_activitySector_autre" name="company_activitySector_autre" placeholder=" Si Autre secteur d'activite" class="form-control" />
            </div>
                {#</div>#}
                <input type="button" name="previous" class="previous action-button-previous" value="Retour"/>
                <input type="button" name="next" class="next action-button left-right-hover" value="Suivant"/>
                
        </fieldset>
    
    
        <fieldset>

            <h2 class="fs-title ">Quel est l’objet social de votre entreprise ?  </h2>
            <div class="tailInput"> 
                {% if typeStatut == 'ME' %}
                       {{ form_widget(formMe.socialObject)}} 
                {% else %}
                       {{ form_widget(formEi.socialObject)}} 
                {% endif %}
            </div>
            <div  class="alert alert-info" role="alert">
                (L’objet social sert à définir l’ensemble des activités exercées par une entreprise. 
                il est important de le rédiger avec la plus grande attention. 
                N’hésitez pas à nous contacter en cas de besoin d’aide au 07 67 72 73 13)
            </div>
        
                <input type="button" name="previous" class="previous action-button-previous" value="Retour"/>
                <input type="button" name="next" class="next action-button left-right-hover" value="Suivant"/>
                
        </fieldset>
        

        <fieldset>

            <h2 class="fs-title "> Où souhaitez-vous exercer votre activité ? </h2>
            <div class="tailInput"> 
                {% if typeStatut == 'ME' %}
                   {{ form_widget(formMe.address)}}
                 {% else %}
                    {{ form_widget(formEi.address)}}
                {% endif %}
            </div>

                {% if typeStatut == 'ME' %}
                   <h2 class="fs-title "> Quelle est votre nationalité ?  </h2>
                   <div class="tailInput">
                      {{ form_widget(formMePerson.nationality)}}
                   </div>
                  <div  class="alert alert-info" role="alert">
                        (Si vous possédez la double nationalité (française et autre), indiquez "française" afin faciliter la procédure)
                  </div>
                {% endif %}
        
                <input type="button" name="previous" class="previous action-button-previous" value="Retour"/>
                <input type="button" name="next" class="next action-button left-right-hover" value="Suivant"/>
                
        </fieldset>


        <fieldset>

            <h2 class="fs-title "> Etes-vous marié(e) ? </h2>
            <div class="tailInput"> 
             {% if typeStatut == 'ME' %}
               {{ form_widget(formMePerson.married)}}
              {% else %}
               {{ form_widget(formEiPerson.married)}}
             {% endif %}
            </div>

            <div  class="alert alert-info" role="alert">
                <small>
                     Votre réponse nous permettra de savoir si nous devons vous fournir l'attestation de d'information au 
                     conjoint concernant les conséquences des dettes engagées dans le cadre de votre activité. 
                     Cette attestation est obligatoire.
                </small>
            </div>
        
                <input type="button" name="previous" class="previous action-button-previous" value="Retour"/>
                <input type="button" name="next" class="next action-button left-right-hover" value="Suivant"/>
                
        </fieldset>


        <fieldset>
                 <h2 class="fs-title ">Vos informations de contact nous servirons à finaliser la création de votre dossier. </h2>

                 <div class="tailInput">
                     {% if typeStatut == 'ME' %}
                         {{ form_widget(formMePerson.gender) }}
                    {% else %}
                       {{ form_widget(formEiPerson.gender) }}
                    {% endif %}
                 </div>
                 <div class="tailInput">  
                     {% if typeStatut == 'ME' %}
                       {{ form_widget(formMePerson.firstName) }} 
                    {% else %}
                       {{ form_widget(formEiPerson.firstName) }} 
                    {% endif %}
                 </div>
                 <div class="tailInput"> 
                     {% if typeStatut == 'ME' %}
                       {{ form_widget(formMePerson.lastName) }} 
                    {% else %}
                       {{ form_widget(formEiPerson.lastName) }} 
                    {% endif %}
                 </div>
      
             <small style="margin-top: -10px;" class="badge badge-info" id="emailHelp">Votre numéro pourra être utilisé par nos experts afin de vous contacter</small>
             <div class="tailInput"> 
                 {% if typeStatut == 'ME' %}
                       {{ form_widget(formMePerson.phoneNumber) }} 
                    {% else %}
                       {{ form_widget(formEiPerson.phoneNumber) }} 
                    {% endif %}
             </div>
             
                 <small style="margin-top: -10px;" class="badge badge-info" id="emailHelp"  >Votre adresse email vous permettra d'accéder à votre espace client où seront stockés vos documents</small>
               <div class="tailInput"> 
                     {% if typeStatut == 'ME' %}
                        {{ form_widget(formMeUser.email) }} 
                    {% else %}
                       {{ form_widget(formEiUser.email) }}
                    {% endif %}
                    {% if emailUsed == true %}
                      <div class="badge badge-danger">
                         Erreur: Cet adresse Email: {{ user.email }} existe déja!
                      </div>
                    {% endif%}
                 </div>
           

                <input type="button" name="previous" class="previous action-button-previous mid" value="Revoir"/>
                <input type="submit" class="action-button" value="Enregistrer"/>
        </fieldset>
   

    {% if typeStatut == 'ME' %}
        
        {{ form_end(formMe) }}
        {{ form_end(formMePerson) }}
        {{ form_end(formMeUser) }}
        
    {% endif %}
    
    {% if typeStatut == 'EI' %}
         
     {{ form_end(formEi) }}
     {{ form_end(formEiPerson) }}
     {{ form_end(formEiUser) }}
    
    {% endif %}
    
      </div>
  </div>
</div>
    
 {% block javascripts %}
    
    {{ parent() }}
    {{ encore_entry_script_tags('createcompany') }}

{% endblock %}
{% endblock %}
{% block footer %}{% endblock %}
    
