<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Confirmation de paiement</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style type="text/css">
        img {
            height: 50px;
        }
    </style>
</head>
<body>

<h1>Une personne vous a envoyé un message par le biais du formulaire de contact :</h1>
<p>Prénom : {{ contact.firstname }}</p>
<p>Nom : {{ contact.lastname }}</p>
<p>Numéro de téléphone : {{ contact.phone  }}</p>
<p>Adresse email : {{ contact.email }}</p>
<p>Message : {{ contact.message }}</p>

</body>

</html>