{% block stylesheets %}

    {{ encore_entry_link_tags('footer_style') }}

{% endblock %}

<footer  class="page-footer text-white-50 mt-5  row footer-section mx-auto ">
        <div class="container">
            <div class="footer-content pt-5 pb-5">
                <div class="row">
                    <div class="col-xl-4 col-lg-4 mb-50">
                        <div class="footer-widget">
                            <div class="footer-logo">
                                <a href="index.html"><img src="/images/Logo_Izy_Contrat_H.png" class="img-fluid" alt="logo"></a>
                            </div>
                            <div class="footer-text">
                                <p>IZY Contrat, votre partenaire juridique qui vous rend la vie IZY ! </p>
                            </div>
                            <div class="footer-social-icon">
                                <h3>Nous suivre sur</h3>
                                <ul class="d-flex justify-content-around">
                                    <li class="social-button">
                                        <a href="https://www.linkedin.com/company/izy-contrat/" target="_blank">
                                            <span class="animated-line"></span>
                                            <span class="animated-line"></span>
                                            <span class="animated-line"></span>
                                            <span class="animated-line"></span>
                                            <i class="fab fa-linkedin"></i>
                                        </a>
                                    </li>
                                    <li class="social-button">
                                        <a href="https://www.facebook.com/IZYCONTRAT/" target="_blank">
                                            <span class="animated-line"></span>
                                            <span class="animated-line"></span>
                                            <span class="animated-line"></span>
                                            <span class="animated-line"></span>
                                            <i class="fab fa-facebook-square"></i>
                                        </a>
                                    </li>
                                    <li class="social-button">
                                        <a href="https://twitter.com/IzyContrat" target="_blank">
                                            <span class="animated-line"></span>
                                            <span class="animated-line"></span>
                                            <span class="animated-line"></span>
                                            <span class="animated-line"></span>
                                            <i class="fab fa-twitter-square"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
                        <div class="footer-widget">
                            <div class="footer-widget-heading">
                                <h3>Créer votre entreprise</h3>
                            </div>
                            <ul>
                                <li><a href="{{ path("technical_sheet_sas") }}">Créer une SAS</a></li>
                                <li><a href="{{ path("technical_sheet_sasu") }}">Créer une SASU</a></li>
                                <li><a href="{{ path("technical_sheet_sarl") }}">Créer une SARL</a></li>
                                <li><a href="{{ path("technical_sheet_eurl") }}">Créer une EURL</a></li>
                                <li><a href="{{ path("technical_sheet_sci") }}">Créer une SCI</a></li>
                                <li><a href="{{ path("technical_sheet_individualCompany") }}">Créer une EI</a></li>
                                <li><a href="{{ path("technical_sheet_microBusiness") }}">Créer une Micro-entreprise</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 mb-50">
                        <div class="footer-widget">
                            <div class="footer-widget-heading">
                                <h3>Newsletter</h3>
                            </div>
                            <div class="footer-text mb-25">
                                <p>Inscrivez-vous à notre newsletter pour recevoir les dernières actualités .</p>
                            </div>
                            <div class="subscribe-form">
                                <li>
                                    {{ include('email_newsletter/_form.html.twig') }}

                                </li>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright-area footer bg-footer text-white-50 footer-section">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 text-center text-lg-left">
                        <div class="copyright-text">
                            <p>Copyright &copy; 2020, Tous droits réservés<a href="#"> IZY contrat</p>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 d-none d-lg-block text-right">
                        <div class="footer-menu">
                            <ul>
                                <li><a href="/">Accueil</a></li>
                                <li><a href="{{ path("article_index") }}">Notre blog</a></li>
                                <li><a href="{{ path("team") }}">Notre équipe</a></li>
                                <li><a href="{{ path("index_legals") }}">Mentions légales</a></li>
                                <li><a href="{{ path("cgu") }}">Conditions générales</a></li>
                                <li><a href="{{ path("confidential") }}">Politique de confidentialité</a></li>
                                <li><a href="{{ path("app_contact") }}">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>


    </footer>
