<!DOCTYPE html>
<html lang="{{ app.request.locale|split('_')[0] }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <meta name="google-site-verification" content="jWWaCsT_6FVEUT2jxjHxiKdboVcINCof4UuRcX3tPCQ" />
    <meta name="description" content="Izy Contrat &amp; est un cabinet d'assistance juridique pour la création en ligne d'entreprise et société." />
    <meta property="og:title" content="Izy Contrat - Création entreprise et société">
    <meta property="og:description" content="Izy Contrat met à votre disposition une plateforme en ligne de création d'entreprise et société, mise en contact avec un avocat, suivi de votre dossier en ligne, etc...">

    <!--Link avec bootswatch -->
    <link rel="stylesheet" href="https://bootswatch.com/4/spacelab/bootstrap.min.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/images/favicon/site.webmanifest">
    <script src="https://js.stripe.com/v3/"></script>
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <title>{% block title %}IzyContrat{% endblock %}</title>

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

</head>
<body>
<style>
    /*.espace {*/
    /*    padding-top: 6em;*/
    /*    margin: 1em auto;*/
    /*    max-width: 1000px;*/
    /*    width: 95%;*/
    /*    font: 18px/1.5 sans-serif;*/
    /*}*/

    /*.esp {*/
    /*    margin-right: 1em;*/
    /*}*/

    .backgroundtitre {
        background: indigo;
        color: white
    }

    * {
        margin: 0;
        padding: 0;
    }


</style>
{% block flash %}{% include '_flash.html.twig' %}{% endblock %}
{% block navbar %}{% include '_navbar.html.twig' %}{% endblock %}

{% block dashboard %}{% endblock %}
{% block body %}{% endblock %}
{% block footer %}{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {{ encore_entry_script_tags('login') }}
{% endblock %}
{#{{ render(controller('App\\Controller\\SecurityController::login', {  } )) }}#}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/imask/3.4.0/imask.min.js"></script>

</body>
</html>
