{% extends '_layout.html.twig' %}
{#{% extends 'base.html.twig' %}#}
{% block dashboard %}{% endblock %}

{% block stylesheets %}
{{ parent() }}
{{ encore_entry_link_tags('createcompany') }}
{{ encore_entry_link_tags('tab1') }}
{% endblock %}

{% block title %}Je crée mon {{ typeStatut == 'SARL' ? 'SARL' : 'EURL' }} {% endblock %}

{% block body %}
<style>

   b{
        margin: 0 0px 0 20px;
    }

    .haut{
        margin-top: 80px;
        /*margin-left: 3%;*/
    }
    .breadcrumb{
        background: none;
    }

    {% if typeStatut == 'EURL'%}
        #progressbar li {
            list-style-type: none;
            color: #BEA058;
            text-transform: uppercase;
            font-size: 12px;
            width: 8.83%;
            float: left;
            position: relative;
            letter-spacing: 1px;
        }
        {% endif %}
        {% if typeStatut == 'SARL'%}
        #progressbar li {
            list-style-type: none;
            color: #BEA058;
            text-transform: uppercase;
            font-size: 12px;
            width: 8.13%;
            float: left;
            position: relative;
            letter-spacing: 1px;
        }
        {% endif %}
</style>


<div class="breadcrumb progression haut"  style="min-width: 360px;">
        <ul class="nav nav-tabs">
            <a data-toggle="tab" class="active"> <b>1 - Détails de votre projet</b></a>
            <a data-toggle="tab" > <b>2 - Choix de la prestation</b> </a>
            <a data-toggle="tab"> <b> 3 - Paiement</b> </a>
            <a data-toggle="tab" > <b> 4 - Société créée !</b> </a>
        </ul>
 </div>

 {#<div class="row">#}
    <div class="container-fluid">

        <div id="msform" class="">
            <!-- progressbar -->
            <ul id="progressbar">
                <li class="active"></li>
                <li></li>
                  <li></li>
                <li></li>
                <li></li>
                <li></li>
                {% if typeStatut == 'EURL'%}
                <li></li>
                {% endif %}
                <li></li>
                <li></li>
                <li></li>
                {% if typeStatut == 'SARL' %}
                    <li></li>
                    <li></li>
                {% endif%}
              <li></li>
            </ul>


{% if typeStatut == 'SARL'%}

{{form_start(formSarl)}}
    {# debut information concernant le clien#}
    {{form_start(formPerson)}}

        {#debut information de connexion user#}
        {{ form_start(formUser )}}

            {#debut information associe1#}
            {{ form_start(formAssocie1 )}}

                 {#debut information associe2#}
                 {{ form_start(formAssocie2 )}}

                     {#debut information associe2#}
                     {{ form_start(formAssocie3 )}}

                         {#debut information associe2#}
                         {{ form_start(formAssocie4 )}}

                             {#debut information associe2#}
                             {{ form_start(formAssocie5 )}}

                                 {#debut information company associer#}
                                 {{ form_start(formAssociateCompany) }}

                                 {#debut information company2 associer#}
                                 {{ form_start(formAssociateCompany2) }}

                                 {#debut information company3 associer#}
                                 {{ form_start(formAssociateCompany3) }}

      {% endif %}

        {% if typeStatut == 'EURL' %}

        {{ form_start(formEurl) }}
        {{ form_start(formEurlPerson) }}
        {{ form_start(formEurlUser) }}

        {% endif %}

  {% if emailUsed == true %}
      <div class="alert alert-danger">
            Adresse Email:<strong> {{ user.email }} </strong> existe déja veuillez vous connecter.
      </div>
    {% endif%}


    <fieldset>
      <h2 class="fs-title ">Dans quel délai souhaitez-vous créer votre {{ typeStatut == 'SARL' ? 'SARL' : 'EURL' }} ?</h2>
       <div class="mx-auto mb-2" style="max-width: 400px;">
        {% if typeStatut == 'SARL' %}
         {{ form_widget(formSarl.priority)}}
         {% else %}
           {{ form_widget(formEurl.priority)}}
          {% endif %}
        <div class="d-none">
            {% if typeStatut == 'SARL' %}
                 {{ form_widget(formSarl.companyType) }}
                 {{ form_widget(formSarl.socialObject) }}
                 {{ form_widget(formPerson.married)}}
                 {{ form_widget(formPerson.nationality)}}
                 {{ form_widget(formSarl.hasAssociate)}}
             {% else %}
               {{ form_widget(formEurl.companyType) }}
               {{ form_widget(formEurl.addressManager) }}
               {#{{ form_widget(formEurl.manager)}}#}
               {{ form_widget(formEurl.hasDirector)}}
               {{ form_widget(formEurl.country)}}
               {{ form_widget(formEurl.socialObject)}}
               {{ form_widget(formEurlPerson.married)}}
               {{ form_widget(formEurlPerson.nationality)}}
              {% endif %}
         </div>
       </div>
          <div>
                Exerciez-vous votre activité sous le régime de la micro-entreprise ?
                {% if typeStatut == 'SARL' %}
                    {{ form_row(formSarl.regimeMicroEntreprise)}}
                {% else %}
                   {{ form_row(formEurl.regimeMicroEntreprise)}}
                {% endif %}
                {#{{ form_label(formSarl.regimeME, 'Your Name') }}#}
          </div>
          <a href="{{ path('create_entreprise')}}"  class="action-button-previous btn"> Annuler </a>
          <input type="button" name="next" class="next action-button left-right-hover" value="Suivant"/>

    </fieldset>


   <fieldset>
        <h2 class="fs-title ">Quel nom choisissez vous pour votre entreprise?</h2>
            <div class="mx-auto mb-2" style="max-width: 400px;">
             {% if typeStatut == 'SARL' %}
               {{ form_widget(formSarl.name)}}
             {% else %}
               {{ form_widget(formEurl.name)}}
              {% endif %}
            </div>
            <div  class="alert alert-info" role="alert">
                <small>
                  (Le nom servira à identifier votre société. Il devra figurer sur tous les documents commerciaux de
                  votre société y compris les factures Vous devez renseigner ici la dénomination sociale
                  qui est différent du nom commercial)
              </small>
            </div>

            {#{% if typeStatut == 'SARL' %}#}
                    {#<h2 class="fs-title ">Quel est le nom commercial ? (s’il y en a un)</h2>#}
                    {#<div class="mx-auto" style="max-width: 400px;">#}
                    {#    {{ form_widget(formSarl.tradeName)}}#}
                    {#</div>#}
                    {#<div class="alert alert-info" role="alert">#}
                    {#    <small>#}
                    {#       (Le nom commercial est une expression désignant le nom sous lequel l'activité d'une entreprise#}
                    {#        est connue du public, cela peut être un patronyme, un nom, un pseudonyme, un prénom ...)#}
                    {#    </small>#}
                    {#</div>#}
            {#{% endif %}#}


            <input type="button" name="previous" class="previous action-button-previous" value="Retour"/>
            <input type="button" name="next" class="next action-button left-right-hover" value="Suivant"/>
     </fieldset>

     {#{% if typeStatut == 'EURL' %}#}
     <fieldset>
      <h2 class="fs-title ">Quel est le nom commercial ? (s’il y en a un)</h2>
                    <div class="mx-auto mb-2" style="max-width: 400px;">
                        {% if typeStatut == 'SARL' %}
                          {{ form_widget(formSarl.tradeName)}}
                         {% else %}
                           {{ form_widget(formEurl.tradeName)}}
                          {% endif %}
                    </div>
                    <div class="alert alert-info" role="alert">
                        <small>
                           (Le nom commercial est une expression désignant le nom sous lequel l'activité d'une entreprise
                            est connue du public, cela peut être un patronyme, un nom, un pseudonyme, un prénom ...)
                        </small>
                    </div>
        <input type="button" name="previous" class="previous action-button-previous" value="Retour"/>
        <input type="button" name="next" class="next action-button left-right-hover" value="Suivant"/>

    </fieldset>
    {#{% endif %}#}


  <fieldset>

        <h2 class="fs-title ">Souhaitez-vous protéger votre nom de société par un dépôt de marque ?</h2>
            <div class="mx-auto mb-2" style="max-width: 400px;">
                {% if typeStatut == 'SARL' %}
                   {{ form_widget(formSarl.hasProtection)}}
                {% else %}
                   {{ form_widget(formEurl.hasProtection)}}
                {% endif %}
              </div>
            <div  class="alert alert-info" role="alert">
               (Déposer une marque ou logo permet notamment de se protéger
                contre un concurrent qui utiliserait votre marque de manière abusive)
            </div>

              <input type="button" name="previous" class="previous action-button-previous" value="Retour"/>
              <input type="button" name="next" class="next action-button left-right-hover" value="Suivant"/>
  </fieldset>


  <fieldset>

        <h2 class="fs-title ">Quel est votre secteur d’activité ? </h2>
            <div class="mx-auto mb-2" style="max-width: 400px;">
              {% if typeStatut == 'SARL' %}
                   {{ form_widget(formSarl.activitySector)}}
                {% else %}
                   {{ form_widget(formEurl.activitySector)}}
             {% endif %}
            </div>
            <p>
              Si autre merci de le préciser :
            </p>
            <div class="mx-auto" style="max-width: 400px;">
                  <input type="text" id="company_activitySector_autre" name="company_activitySector_autre" placeholder=" Si Autre secteur d'activité" class="form-control" />
            </div>

        <input type="button" name="previous" class="previous action-button-previous" value="Retour"/>
        <input type="button" name="next" class="next action-button left-right-hover" value="Suivant"/>
  </fieldset>


  <fieldset>

            <h2 class="fs-title "> Serez-vous le Gérant de la {{ typeStatut == 'SARL' ? 'SARL' : 'EURL' }} ?   </h2>
                  <div class="mx-auto mb-2" style="max-width: 400px;">
                    {% if typeStatut == 'SARL' %}
                        {{ form_widget(formSarl.manager)}}
                    {% else %}
                        {{ form_widget(formEurl.manager)}}
                    {% endif %}
                </div>
                <div  class="alert alert-info" role="alert">
                    (Le Gérant est la personne en charge de diriger la société et est le plus fréquemment un
                    associé de la société. Cependant, il peut y avoir plusieurs Gérants.)
                </div>
                <input type="button" name="previous" class="previous action-button-previous" value="Retour"/>
                <input type="button" name="next" class="next action-button left-right-hover" value="Suivant"/>
            </fieldset>


         {% if typeStatut == 'EURL' %}
        <fieldset>
            <h2 class="fs-title ">Prévoyez-vous de faire entrer d'autres associés dans votre société dans le futur ? </h2>
                 <div class="mx-auto mb-2" style="max-width: 400px;">
                     {#{% if typeStatut == 'SARL' %}#}
                     {#    {{ form_widget(formSarl.hasAssociate)}}#}
                     {#{% else %}#}
                         {{ form_widget(formEurl.hasAssociate)}}
                     {#{% endif %}#}
                  </div>
                        <div class="alert alert-info" role="alert">
                          (L'entrée d'un nouvel associé dans votre SARLU transformera celle-ci en SARL.)
                        </div>

                <input type="button" name="previous" class="previous action-button-previous" value="Retour"/>
                <input type="button" name="next" class="next action-button left-right-hover" value="Suivant"/>
            </fieldset>
        {% endif %}


             <fieldset>

                    <h2 class="fs-title ">Où sera le siège social de votre société ?</h2>

                     {% if typeStatut == 'SARL' %}

                     <div id="accordion">
                            <div class="card-header bg-light" id="headingOne">
                              <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                    <label class="radio"><input type="radio" name="collapse" value=""> Au domicile du Gérant (le plus fréquent) ? </label>
                                </button>
                              </h5>
                            </div>

                            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                              <div class="card-body">
                                <div class="mx-auto" style="max-width: 400px;">
                                  {{ form_widget(formSarl.addressManager)}}
                                </div>
                              </div>
                            </div>

                            <div class="card-header bg-light" id="headingTwo">
                              <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                  <label class="radio"><input type="radio" name="collapse" value="">  À une adresse de domiciliation ?  </label>
                                </button>
                              </h5>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                              <div class="card-body">
                                  <div class="mx-auto" style="max-width: 400px;">
                                        {{ form_widget(formSarl.country)}}
                                  </div>
                              </div>
                            </div>

                            <div class="card-header bg-light" id="headingThree">
                              <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    <label class="radio"><input type="radio" name="collapse" value="">  Dans un bureau, local, etc… ?  </label>
                                </button>
                              </h5>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                              <div class="card-body">
                                  <div class="mx-auto" style="max-width: 400px;">
                                        {{ form_widget(formSarl.address)}}
                                  </div>
                              </div>
                            </div>

                        </div>

                       {% else %}

                          <strong> Dans un bureau, local, etc… </strong>
                          <div class="mx-auto" style="max-width: 400px;">
                                 {{ form_widget(formEurl.address)}}
                          </div>

                      {% endif %}
                {#</div>#}
                <input type="button" name="previous" class="previous action-button-previous" value="Retour"/>
                <input type="button" name="next" class="next action-button left-right-hover" value="Suivant"/>
            </fieldset>


            <fieldset>
                  <h2 class="fs-title ">Quel est le montant total du capital social de votre société ?</h2>
                    <div class="mx-auto mb-2" style="max-width: 400px;">
                     {% if typeStatut == 'SARL' %}
                       {{ form_widget(formSarl.capitalSocial)}}
                     {% else %}
                        {{ form_widget(formEurl.capitalSocial)}}
                     {% endif %}
                    </div>
                    <div  class="alert alert-info" role="alert">
                        <small>
                             (Cet argent permettra de financer les premières dépenses et de démarrer l'activité.
                             Le capital social minimum est d'un euro mais 70% de nos clients choisissent un capital
                             entre 500€ et 2000€. Si vous souhaitez prévoir un capital variable ou faire un apport en nature,
                             veuillez nous contacter ou le préciser plus tard.)
                        </small>
                    </div>
                <input type="button" name="previous" class="previous action-button-previous" value="Retour"/>
                <input type="button" name="next" class="next action-button left-right-hover" value="Suivant"/>
            </fieldset>

            <fieldset>
                    <h2 class="fs-title ">Dans quelle banque souhaitez-vous déposer le capital social ? </h2>
                     <div class="mx-auto mb-2" style="max-width: 400px;">
                        {% if typeStatut == 'SARL' %}
                           {{ form_widget(formSarl.bankName)}}
                        {% else %}
                           {{ form_widget(formEurl.bankName)}}
                       {% endif %}
                      </div>
                      <div class="alert alert-info" role="alert">
                          <small>
                           (Le dépôt du capital se fait sur un compte bancaire, où les fonds seront bloqués jusqu’à la création
                           de votre société. A l’issue du dépôt, le banque vous remet un document appelé « Attestation de dépôt de fonds ».
                           Ce document est indispensable pour immatriculer votre société)
                          </small>
                      </div>
                <input type="button" name="previous" class="previous action-button-previous" value="Retour"/>
                <input type="button" name="next" class="next action-button left-right-hover" value="Suivant"/>
            </fieldset>


  {% if typeStatut == 'SARL' %}
            <fieldset>
                <h2 class="fs-title ">Qui sont les associés de votre société </h2>

                    <details style="text-align:left; margin:1%; padding:1%; margin-left: 1%; width: 98%;"><summary class="bg-secondary form-control" ><strong><i class="fas fa-user-circle"></i> Un Particulier ?</strong></summary>
                                 <small  class="badge badge-warning text-wrap" >
                                   (Chaque apport donne droit à des actions à l'associé.
                                   La somme des apports des associés constituent le capital social de la société)
                                 </small>
                             <div class="row">
                               <div class="col" style="min-width: 200px;">
                                 {{ form_row(formAssocie1.gender) }}
                               </div>
                               <div class="col" style="min-width: 200px;">
                                 {{ form_row(formAssocie1.firstName) }}
                               </div>
                               <div class="col" style="min-width: 200px;">
                                 {{ form_row(formAssocie1.lastName) }}
                               </div>
                               <div class="col" style="min-width: 200px;">
                                 {{ form_row(formAssocie1.capitalAmountAdding) }}
                               </div>
                             </div>
                        <details style="text-align:left; width: 100%;"><summary class="bg-warning form-control" ><strong><i class="fas fa-user-plus"></i> Ajouter +1 ?</strong></summary>
                        <div class="row">
                            <div class="col" style="min-width: 200px;">
                                 {{ form_row(formAssocie2.gender) }}
                               </div>
                               <div class="col" style="min-width: 200px;">
                                 {{ form_row(formAssocie2.firstName) }}
                               </div>
                               <div class="col" style="min-width: 200px;">
                                 {{ form_row(formAssocie2.lastName) }}
                               </div>
                               <div class="col" style="min-width: 200px;">
                                 {{ form_row(formAssocie2.capitalAmountAdding) }}
                               </div>
                             </div>
                        <details style="text-align:left; width: 100%;"><summary class="bg-warning form-control" ><strong><i class="fas fa-user-plus"></i> Ajouter +2 ?</strong></summary>
                        <div class="row">
                            <div class="col" style="min-width: 200px;">
                                 {{ form_row(formAssocie3.gender) }}
                               </div>
                               <div class="col" style="min-width: 200px;">
                                 {{ form_row(formAssocie3.firstName) }}
                               </div>
                               <div class="col" style="min-width: 200px;">
                                 {{ form_row(formAssocie3.lastName) }}
                               </div>
                               <div class="col" style="min-width: 200px;">
                                 {{ form_row(formAssocie3.capitalAmountAdding) }}
                               </div>
                             </div>
                        <details style="text-align:left; width: 100%;"><summary class="bg-warning form-control" ><strong><i class="fas fa-user-plus"></i> Ajouter +3 ?</strong></summary>
                        <div class="row">
                            <div class="col" style="min-width: 200px;">
                                 {{ form_row(formAssocie4.gender) }}
                               </div>
                               <div class="col" style="min-width: 200px;">
                                 {{ form_row(formAssocie4.firstName) }}
                               </div>
                               <div class="col" style="min-width: 200px;">
                                 {{ form_row(formAssocie4.lastName) }}
                               </div>
                               <div class="col" style="min-width: 200px;">
                                 {{ form_row(formAssocie4.capitalAmountAdding) }}
                               </div>
                             </div>
                        <details style="text-align:left; width: 100%;"><summary class="bg-warning form-control" ><strong><i class="fas fa-user-plus"></i> Ajouter +4 ?</strong></summary>
                         <div class="row">
                            <div class="col" style="min-width: 200px;">
                                 {{ form_row(formAssocie5.gender) }}
                               </div>
                               <div class="col" style="min-width: 200px;">
                                 {{ form_row(formAssocie5.firstName) }}
                               </div>
                               <div class="col" style="min-width: 200px;">
                                 {{ form_row(formAssocie5.lastName) }}
                               </div>
                               <div class="col" style="min-width: 200px;">
                                 {{ form_row(formAssocie5.capitalAmountAdding) }}
                               </div>
                         </div>

                        </details>
                        </details>
                        </details>
                        </details>
                            {#</form>#}
                            <br>
                    </details>
                     <details style="text-align:left; margin:1%; margin-left: 2%; width: 96%;"><summary class="bg-secondary form-control "><strong><i class="fas fa-building"></i> Une Société ?</strong></summary>
                             <div class="row">
                               <div class="col" style="min-width: 200px;">
                                 {{ form_row(formAssociateCompany.name) }}
                               </div>
                               <div class="col" style="min-width: 200px;">
                                 {{ form_row(formAssociateCompany.companyType) }}
                               </div>
                               <div class="col" style="min-width: 200px;">
                                 {{ form_row(formAssociateCompany.legalRepresentative) }}
                               </div>
                               <div class="col" style="min-width: 200px;">
                                 {{ form_row(formAssociateCompany.capitalBring) }}
                               </div>
                             </div>
                              <p style="text-align: center">
                               <small> (Le nom de la société correspond généralement à la dénomination sociale.) </small>
                               <small class="bg-info">
                                 <br>(Les apports en capital social sont mis à disposition de la société par les associés afin d’assurer
                                 son fonctionnement. En contrepartie, chaque associé reçoit des actions qui lui assurent des
                                 pouvoirs économiques et décisionnels.)
                              </small>
                              </p>
                             <details style="text-align:left; margin:1%; width: 100%;"><summary class="bg-secondary form-control "><strong><i class="fas fa-building"></i> Ajouter +1 ?</strong></summary>

                                     <div class="row">
                                       <div class="col" style="min-width: 200px;">
                                         {{ form_row(formAssociateCompany2.name) }}
                                       </div>
                                       <div class="col" style="min-width: 200px;">
                                         {{ form_row(formAssociateCompany2.companyType) }}
                                       </div>
                                       <div class="col" style="min-width: 200px;">
                                         {{ form_row(formAssociateCompany2.legalRepresentative) }}
                                       </div>
                                       <div class="col" style="min-width: 200px;">
                                         {{ form_row(formAssociateCompany2.capitalBring) }}

                                       </div>
                                     </div>
                                     <div>
                                         {#Répartition en % <br>#}
                                         {#100%#}
                                     </div>

                                     <details style="text-align:left; margin:1%; width: 100%;"><summary class="bg-secondary form-control "><strong><i class="fas fa-building"></i> Ajouter +2 ?</strong></summary>

                                         <div class="row">
                                           <div class="col" style="min-width: 200px;">
                                             {{ form_row(formAssociateCompany3.name) }}
                                           </div>
                                           <div class="col" style="min-width: 200px;">
                                             {{ form_row(formAssociateCompany3.companyType) }}
                                           </div>
                                           <div class="col" style="min-width: 200px;">
                                             {{ form_row(formAssociateCompany3.legalRepresentative) }}
                                           </div>
                                           <div class="col" style="min-width: 200px;">
                                             {{ form_row(formAssociateCompany3.capitalBring) }}
                                           </div>
                                         </div>
                                    </details>
                            </details>

                    </details>

                    <div  class="alert alert-info" role="alert">
                      Renseignez ici l’identité des associés de votre société, vous inclus si vous êtes associé.
                      Vous pouvez ajouter un associé en cliquant sur le bouton "Ajouter un associé" en bas de page<br>
                        <small  class="badge badge-warning text-wrap">
                          Si vous ne possédez pas certaines informations, ne vous en faites pas,
                          sauvegardez votre dossier ou passez aux questions suivantes, vous pouvez les renseigner plus tard.
                        </small>
                    </div>


                <input type="button" name="previous" class="previous action-button-previous" value="Retour"/>
                <input type="button" name="next" class="next action-button left-right-hover" value="Suivant"/>
            </fieldset>

            <fieldset>
                    <h2 class="fs-title ">Souhaitez-vous nommer un Directeur Général ? </h2>

                <div class="mx-auto mb-2" style="max-width: 400px;">
                  {{ form_widget(formSarl.hasDirector)}}
              </div>
            <div class="alert alert-info" role="alert">
                La nomination d’un Directeur Général (DG) est facultative. Si un DG est nommé, il assiste
                le Gérant dans ses missions. Il représente aussi la société et a le droit de signer des documents
                au nom et pour le compte de la société. Le ou les DG d'une SARL sont en général également associés.
            </div>


                <input type="button" name="previous" class="previous action-button-previous" value="Retour"/>
                <input type="button" name="next" class="next action-button left-right-hover" value="Suivant"/>
            </fieldset>

    {% endif %}


            <fieldset>
                 <h2 class="fs-title ">Vos informations de contact nous servirons à finaliser la création de votre dossier. </h2>

                 <div class="mx-auto" style="max-width: 400px;">
                     {% if typeStatut == 'SARL' %}
                         {{ form_widget(formPerson.gender) }}
                    {% else %}
                       {{ form_widget(formEurlPerson.gender) }}
                    {% endif %}
                 </div>
                 <div class="mx-auto mt-2" style="max-width: 400px;">
                     {% if typeStatut == 'SARL' %}
                       {{ form_widget(formPerson.firstName) }}
                    {% else %}
                       {{ form_widget(formEurlPerson.firstName) }}
                    {% endif %}
                 </div>
                 <div class="mx-auto mt-2 mb-2" style="max-width: 400px;">
                     {% if typeStatut == 'SARL' %}
                       {{ form_widget(formPerson.lastName) }}
                    {% else %}
                       {{ form_widget(formEurlPerson.lastName) }}
                    {% endif %}
                 </div>
                 {#</div>#}

             <small style="margin-top: -5px;" class="badge badge-info text-wrap" id="emailHelp">Votre numéro pourra être utilisé par nos experts afin de vous contacter</small>
             <div class="mx-auto mb-2" style="max-width: 400px;">
                 {% if typeStatut == 'SARL' %}
                       {{ form_widget(formPerson.phoneNumber) }}
                    {% else %}
                       {{ form_widget(formEurlPerson.phoneNumber) }}
                    {% endif %}
             </div>

              {#debut information de connexion user#}
                 <small style="margin-top: -5px;" class="badge badge-info text-wrap" id="emailHelp"  >Votre adresse email vous permettra d'accéder à votre espace client où seront stockés vos documents</small>
                 <div class="mx-auto" style="max-width: 400px;">
                     {% if typeStatut == 'SARL' %}
                        {{ form_widget(formUser.email) }}
                    {% else %}
                       {{ form_widget(formEurlUser.email) }}
                    {% endif %}

                    {% if emailUsed == true %}
                      <div class="badge badge-danger text-wrap">
                        Erreur: adresse Email: <b>{{ user.email }}</b> existe déja.
                      </div>
                    {% endif%}
                 </div>


                <input type="button" name="previous" class="previous action-button-previous mid" value="Retour"/>
                <input type="submit" class="action-button" value="Enregistrer"/>
            </fieldset>


    {% if typeStatut == 'EURL' %}

        {{ form_end(formEurl) }}
        {{ form_end(formEurlPerson) }}
        {{ form_start(formEurlUser) }}

    {% endif %}

                    {% if typeStatut == 'SARL' %}
                                            {#debut information company3 associer#}
                                             {{ form_end(formAssociateCompany3) }}
                                            {#debut information company2 associer#}
                                             {{ form_end(formAssociateCompany2) }}
                                            {#debut information company associer#}
                                             {{ form_end(formAssociateCompany) }}

                                        {#fin information associe5#}
                                        {{ form_end(formAssocie5 )}}

                                 {#fin information associe4#}
                                 {{ form_end(formAssocie4 )}}

                            {#fin information associe3#}
                            {{ form_end(formAssocie3 )}}

                        {#fin information associe2#}
                        {{ form_end(formAssocie2 )}}

                    {#fin information associe1#}
                   {{ form_end(formAssocie1 )}}

              {{ form_end(formUser) }}
              {#fin information de connexion user#}

         {{form_end(formPerson)}}
         {#fin information concernant le client#}

    {{form_end(formSarl)}}

    {% endif %}
        </div>
      </div>
  {#</div>#}

  {% block javascripts %}

    {{ parent() }}
    {{ encore_entry_script_tags('createcompany') }}

{% endblock %}

{% block footer %}{% endblock %}
{% endblock %}

