{% extends '_layout.html.twig' %}
{% block title %}Izy Contrat - Comparatif{% endblock %}

{% block body %}
    <section class="team page-content container-fluid">
        <h1 class="text-center">Tableau comparatif des statuts juridiques les plus communs en France.</h1>
        <p class="my-5 text-center">Vous n’avez pas encore fait votre choix parmi les différents statuts juridiques
            proposés
            car vous ne savez pas lequel correspondrait le mieux à vos besoins ?<br>
            Voici un tableau qui pourra vous aider à faire votre choix. Il présente les différents
            avantages et inconvénients des principaux statuts juridiques en France.</p>
        <table class="table table-responsive table-hover mt-5 text-center">
            <thead>
            <tr>
                <th>
                    <button class="btn btn-outline-primary btn-mini m-1 mb-3" data-toggle="collapse"
                            data-target=".multi-collapse" aria-expanded="false">+ de
                        détails
                    </button>
                </th>
                <th class=" bg-secondary">SAS</th>
                <th class=" bg-secondary">SASU</th>
                <th class=" bg-secondary">EURL</th>
                <th class=" bg-secondary">SARL</th>
                <th class=" bg-secondary">Micro-entreprise</th>
                <th class=" bg-secondary">EI</th>
                <th class=" bg-secondary">SCI</th>
            </tr>
            </thead>
            <tbody>
            <tr class=" mx-0">
                <th>Puis-je démarrer ma société seul ? <br>
                </th>
                <td class="text-danger   ">
                    <p class="text-danger">
                        <svg width="50px" height="50px" viewBox="0 0 16 16" class="bi bi-x" fill="currentcolor"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M11.854 4.146a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708-.708l7-7a.5.5 0 0 1 .708 0z"/>
                            <path fill-rule="evenodd"
                                  d="M4.146 4.146a.5.5 0 0 0 0 .708l7 7a.5.5 0 0 0 .708-.708l-7-7a.5.5 0 0 0-.708 0z"/>
                        </svg>
                    </p>
                    <p class="collapse text-primary multi-collapse">>= 2 associés (personnes physiques ou morales)</p>
                </td>
                <td class="text-secondary   ">
                    <p>
                        <svg width="50px" height="50px" viewBox="0 0 16 16" class="bi bi-check2" fill="currentcolor"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                        </svg>
                    </p>
                    <p class="collapse text-primary multi-collapse">Associé unique (personne physique ou morale)</p>
                </td>
                <td class="text-secondary   ">
                    <p>
                        <svg width="50px" height="50px" viewBox="0 0 16 16" class="bi bi-check2" fill="currentcolor"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                        </svg>
                    </p>
                    <p class="collapse text-primary multi-collapse">Associé unique (personne physique ou morale)</p>
                </td>
                <td class="text-danger   ">
                    <p>
                        <svg width="50px" height="50px" viewBox="0 0 16 16" class="bi bi-x" fill="currentcolor"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M11.854 4.146a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708-.708l7-7a.5.5 0 0 1 .708 0z"/>
                            <path fill-rule="evenodd"
                                  d="M4.146 4.146a.5.5 0 0 0 0 .708l7 7a.5.5 0 0 0 .708-.708l-7-7a.5.5 0 0 0-.708 0z"/>
                        </svg>
                    </p>
                    <p class="collapse text-primary multi-collapse">Entre 2 et 100 associés (personnes physiques ou
                        morales)</p>
                </td>
                <td class="text-secondary   ">
                    <p>
                        <svg width="50px" height="50px" viewBox="0 0 16 16" class="bi bi-check2" fill="currentcolor"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                        </svg>
                    </p>
                    <p class="collapse text-primary multi-collapse">Entreprise individuelle : une seule personne
                        (physique)</p>
                </td>
                <td class="text-secondary   ">
                    <svg width="50px" height="50px" viewBox="0 0 16 16" class="bi bi-check2" fill="currentcolor"
                         xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                              d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                    </svg>
                    <p class="collapse text-primary multi-collapse">Entreprise individuelle : une seule personne
                        (physique)</p>
                </td>
                <td class="text-danger   ">
                    <p>
                        <svg width="50px" height="50px" viewBox="0 0 16 16" class="bi bi-x" fill="currentcolor"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M11.854 4.146a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708-.708l7-7a.5.5 0 0 1 .708 0z"/>
                            <path fill-rule="evenodd"
                                  d="M4.146 4.146a.5.5 0 0 0 0 .708l7 7a.5.5 0 0 0 .708-.708l-7-7a.5.5 0 0 0-.708 0z"/>
                        </svg>
                    </p>
                    <p class="collapse text-primary multi-collapse">>= 2 personnes physiques ou morales</p>
                </td>
            </tr>
            <tr class=" mx-0">
                <th>Puis-je ouvrir mon capital à de futurs associés ?
                </th>
                <td class="text-secondary   ">
                    <p>
                        <svg width="50px" height="50px" viewBox="0 0 16 16" class="bi bi-check2" fill="currentcolor"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                        </svg>
                    </p>
                    <p class="collapse text-primary multi-collapse">Voir Procédure d’agrément si présente dans les
                        statuts</p>
                </td>
                <td class="text-secondary   ">
                    <p>
                        <svg width="50px" height="50px" viewBox="0 0 16 16" class="bi bi-check2" fill="currentcolor"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                        </svg>
                    </p>
                    <div class="collapse text-primary multi-collapse">
                        <p>Voir Procédure d’agrément si présente dans les statuts</p>
                        <p>Votre société deviendra une SAS</p></div>
                </td>
                <td class="text-secondary   ">
                    <p>
                        <svg width="50px" height="50px" viewBox="0 0 16 16" class="bi bi-check2" fill="currentcolor"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                        </svg>
                    </p>
                    <p class="collapse text-primary multi-collapse">Votre société deviendra une SARL</p>
                </td>
                <td class="text-secondary   ">
                    <p>
                        <svg width="50px" height="50px" viewBox="0 0 16 16" class="bi bi-check2" fill="currentcolor"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                        </svg>
                    </p>
                    <p class="collapse text-primary multi-collapse">Tous les associés doivent nécessairement donner leur
                        accord pour l’entrée de tout autre associé
                        tiers.</p>
                </td>
                <td class="text-secondary   ">
                    <p>
                        <svg width="50px" height="50px" viewBox="0 0 16 16" class="bi bi-check2" fill="currentcolor"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                        </svg>
                    </p>
                </td>
                <td class="text-danger   ">
                    <svg width="50px" height="50px" viewBox="0 0 16 16" class="bi bi-x" fill="currentcolor"
                         xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                              d="M11.854 4.146a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708-.708l7-7a.5.5 0 0 1 .708 0z"/>
                        <path fill-rule="evenodd"
                              d="M4.146 4.146a.5.5 0 0 0 0 .708l7 7a.5.5 0 0 0 .708-.708l-7-7a.5.5 0 0 0-.708 0z"/>
                    </svg>
                </td>
                <td class="text-danger   ">
                    <svg width="50px" height="50px" viewBox="0 0 16 16" class="bi bi-x" fill="currentcolor"
                         xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                              d="M11.854 4.146a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708-.708l7-7a.5.5 0 0 1 .708 0z"/>
                        <path fill-rule="evenodd"
                              d="M4.146 4.146a.5.5 0 0 0 0 .708l7 7a.5.5 0 0 0 .708-.708l-7-7a.5.5 0 0 0-.708 0z"/>
                    </svg>
                </td>
            </tr>
            <tr class=" mx-0">
                <th>Puis-je limiter ma responsabilité ?
                </th>
                <td class="text-secondary   ">
                    <p>
                        <svg width="50px" height="50px" viewBox="0 0 16 16" class="bi bi-check2" fill="currentcolor"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                        </svg>
                    </p>
                    <p class="collapse text-primary multi-collapse">Votre responsabilité est limitée à vos apports,
                        excepté si vous êtes caution ou garant</p>
                </td>
                <td class="text-secondary   ">
                    <p>
                        <svg width="50px" height="50px" viewBox="0 0 16 16" class="bi bi-check2" fill="currentcolor"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                        </svg>
                    </p>
                    <p class="collapse text-primary multi-collapse">Votre responsabilité est limitée à vos apports,
                        excepté si vous êtes caution ou garant</p>
                </td>
                <td class="text-secondary   ">
                    <p>
                        <svg width="50px" height="50px" viewBox="0 0 16 16" class="bi bi-check2" fill="currentcolor"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                        </svg>
                    </p>
                    <p class="collapse text-primary multi-collapse">Votre responsabilité est limitée à vos apports,
                        excepté si vous êtes caution ou garant</p>
                </td>
                <td class="text-secondary   ">
                    <p>
                        <svg width="50px" height="50px" viewBox="0 0 16 16" class="bi bi-check2" fill="currentcolor"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                        </svg>
                    </p>
                    <p class="collapse text-primary multi-collapse">Votre responsabilité est limitée à vos apports,
                        excepté si vous êtes caution ou garant</p>
                </td>
                <td class="text-danger   ">
                    <p>
                        <svg width="50px" height="50px" viewBox="0 0 16 16" class="bi bi-x" fill="currentcolor"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M11.854 4.146a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708-.708l7-7a.5.5 0 0 1 .708 0z"/>
                            <path fill-rule="evenodd"
                                  d="M4.146 4.146a.5.5 0 0 0 0 .708l7 7a.5.5 0 0 0 .708-.708l-7-7a.5.5 0 0 0-.708 0z"/>
                        </svg>
                    </p>
                    <p class="collapse text-primary multi-collapse">Vous êtes totalement responsable excepté si vous
                        faites une déclaration d’insaisissabilité</p>
                </td>
                <td class="text-danger   ">
                    <p>
                        <svg width="50px" height="50px" viewBox="0 0 16 16" class="bi bi-x" fill="currentcolor"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M11.854 4.146a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708-.708l7-7a.5.5 0 0 1 .708 0z"/>
                            <path fill-rule="evenodd"
                                  d="M4.146 4.146a.5.5 0 0 0 0 .708l7 7a.5.5 0 0 0 .708-.708l-7-7a.5.5 0 0 0-.708 0z"/>
                        </svg>
                    </p>
                    <p class="collapse text-primary multi-collapse">Vous êtes totalement responsable excepté si vous
                        faites une déclaration d’insaisissabilité</p>
                </td>
                <td class="text-danger   ">
                    <p>
                        <svg width="50px" height="50px" viewBox="0 0 16 16" class="bi bi-x" fill="currentcolor"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M11.854 4.146a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708-.708l7-7a.5.5 0 0 1 .708 0z"/>
                            <path fill-rule="evenodd"
                                  d="M4.146 4.146a.5.5 0 0 0 0 .708l7 7a.5.5 0 0 0 .708-.708l-7-7a.5.5 0 0 0-.708 0z"/>
                        </svg>
                    </p>
                    <p class="collapse text-primary multi-collapse">Vous êtes totalement responsable excepté si vous
                        faites une déclaration d’insaisissabilité</p>
                </td>
            </tr>
            <tr class=" mx-0">
                <th>Suis-je libre de fixer le montant de ma rémunération ?
                </th>
                <td class="text-secondary   ">
                    <p>
                        <svg width="50px" height="50px" viewBox="0 0 16 16" class="bi bi-check2" fill="currentcolor"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                        </svg>
                    </p>
                    <p class="collapse text-primary multi-collapse">Oui</p>
                </td>
                <td class="text-secondary   ">
                    <p>
                        <svg width="50px" height="50px" viewBox="0 0 16 16" class="bi bi-check2" fill="currentcolor"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                        </svg>
                    </p>
                    <p class="collapse text-primary multi-collapse">Oui</p>
                </td>
                <td class="text-secondary   ">
                    <p>
                        <svg width="50px" height="50px" viewBox="0 0 16 16" class="bi bi-check2" fill="currentcolor"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                        </svg>
                    </p>
                    <p class="collapse text-primary multi-collapse">Oui</p>
                </td>
                <td class="text-secondary   ">
                    <p>
                        <svg width="50px" height="50px" viewBox="0 0 16 16" class="bi bi-check2" fill="currentcolor"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                        </svg>
                    </p>
                    <p class="collapse text-primary multi-collapse">Oui</p>
                </td>
                <td class="  ">
                    <p>Possible</p>
                    <p class="collapse text-primary multi-collapse">En fonction du bénéfice généré</p>
                </td>
                <td class="text-secondary   ">
                    <p>
                        <svg width="50px" height="50px" viewBox="0 0 16 16" class="bi bi-check2" fill="currentcolor"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                        </svg>
                    </p>
                    <p class="collapse text-primary multi-collapse">Oui</p>
                </td>
                <td class="text-secondary   ">
                    <p>
                        <svg width="50px" height="50px" viewBox="0 0 16 16" class="bi bi-check2" fill="currentcolor"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                        </svg>
                    </p>
                    <p class="collapse text-primary multi-collapse">Oui</p>
                </td>
            </tr>
            <tr class=" mx-0">
                <th>Puis-je bénéficier d’une protection sociale
                    assimilé-Salarié ?
                </th>
                <td class="text-secondary   ">
                    <svg width="50px" height="50px" viewBox="0 0 16 16" class="bi bi-check2" fill="currentcolor"
                         xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                              d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                    </svg>
                </td>
                <td class="text-secondary   ">
                    <svg width="50px" height="50px" viewBox="0 0 16 16" class="bi bi-check2" fill="currentcolor"
                         xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                              d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                    </svg>
                </td>
                <td class="  ">
                    <p>Possible</p>
                    <div class="collapse text-primary multi-collapse"><p>Gérant Tiers : OUI</p>
                        <p>Gérant Associé Unique : Travailleur Non-Salarié (TNS)</p></div>
                </td>
                <td class="  ">
                    <p>Possible</p>
                    <div class="collapse text-primary multi-collapse"><p>Gérant minoritaire/égalitaire : OUI</p>
                        Gérant majoritaire : Travailleur Non-Salarié (TNS)
                    </div>
                </td>
                <td class="text-danger   ">
                    <p>
                        <svg width="50px" height="50px" viewBox="0 0 16 16" class="bi bi-x" fill="currentcolor"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M11.854 4.146a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708-.708l7-7a.5.5 0 0 1 .708 0z"/>
                            <path fill-rule="evenodd"
                                  d="M4.146 4.146a.5.5 0 0 0 0 .708l7 7a.5.5 0 0 0 .708-.708l-7-7a.5.5 0 0 0-.708 0z"/>
                        </svg>
                    </p>
                    <p class="collapse text-primary multi-collapse">Soumis à la sécurité sociale des indépendants :
                        Travailleur Non-Salarié (TNS)</p>
                </td>
                <td class="text-danger   ">
                    <p>
                        <svg width="50px" height="50px" viewBox="0 0 16 16" class="bi bi-x" fill="currentcolor"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M11.854 4.146a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708-.708l7-7a.5.5 0 0 1 .708 0z"/>
                            <path fill-rule="evenodd"
                                  d="M4.146 4.146a.5.5 0 0 0 0 .708l7 7a.5.5 0 0 0 .708-.708l-7-7a.5.5 0 0 0-.708 0z"/>
                        </svg>
                    </p>
                    <p class="collapse text-primary multi-collapse">Soumis à la sécurité sociale des indépendants :
                        Travailleur Non-Salarié (TNS)</p>
                </td>
                <td class="  ">
                    <p>Possible</p>
                    <div class="collapse text-primary multi-collapse"><p>Gérant Tiers : OUI</p>
                        <p>Gérant Associé Unique : Travailleur Non-Salarié (TNS)</p></div>
                </td>
            </tr>
            <tr class=" mx-0">
                <th>Quelle forme juridique est la plus avantageuse pour le
                    versement des dividendes ?
                </th>
                <td class="text-secondary   ">
                    <p>
                        <svg width="50px" height="50px" viewBox="0 0 16 16" class="bi bi-check2" fill="currentcolor"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                        </svg>
                    </p>
                    <div class="collapse text-primary multi-collapse"><p>Associé personne physique :</p>
                        <p>Les dividendes sont soumis au barème progressif de l’IR –.</p>
                        <p>Associé personne morale :</p>
                        <p>Les dividendes sont soumis à l’IS -</p></div>
                </td>
                <td class="text-secondary   ">
                    <p>
                        <svg width="50px" height="50px" viewBox="0 0 16 16" class="bi bi-check2" fill="currentcolor"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                        </svg>
                    </p>
                    <div class="collapse text-primary multi-collapse"><p>Associé personne physique :</p>
                        <p>Les dividendes sont soumis au barème progressif de l’IR –.</p>
                        <p>Associé personne morale :</p>
                        <p>Les dividendes sont soumis à l’IS -</p></div>
                </td>
                <td class="text-secondary   ">
                    <p>
                        <svg width="50px" height="50px" viewBox="0 0 16 16" class="bi bi-check2" fill="currentcolor"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                        </svg>
                    </p>
                    <div class="collapse text-primary multi-collapse"><p>Associé personne physique :</p>
                        <p>Les dividendes sont soumis au barème progressif de l’IR –.</p>
                        <p>Associé personne morale :</p>
                        <p>Les dividendes sont soumis à l’IS -</p></div>
                </td>
                <td class="text-secondary   ">
                    <p>
                        <svg width="50px" height="50px" viewBox="0 0 16 16" class="bi bi-check2" fill="currentcolor"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                        </svg>
                    </p>
                    <div class="collapse text-primary multi-collapse"><p>Associé personne physique :</p>
                        <p>Les dividendes sont soumis au barème progressif de l’IR –.</p>
                        <p>Associé personne morale :</p>
                        <p>Les dividendes sont soumis à l’IS -</p></div>
                </td>
                <td class="text-danger   ">
                    <p>
                        <svg width="50px" height="50px" viewBox="0 0 16 16" class="bi bi-x" fill="currentcolor"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M11.854 4.146a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708-.708l7-7a.5.5 0 0 1 .708 0z"/>
                            <path fill-rule="evenodd"
                                  d="M4.146 4.146a.5.5 0 0 0 0 .708l7 7a.5.5 0 0 0 .708-.708l-7-7a.5.5 0 0 0-.708 0z"/>
                        </svg>
                    </p>
                    <p class="collapse text-primary multi-collapse">Pas avantageux</p>
                </td>
                <td class="text-danger   ">
                    <p>
                        <svg width="50px" height="50px" viewBox="0 0 16 16" class="bi bi-x" fill="currentcolor"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M11.854 4.146a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708-.708l7-7a.5.5 0 0 1 .708 0z"/>
                            <path fill-rule="evenodd"
                                  d="M4.146 4.146a.5.5 0 0 0 0 .708l7 7a.5.5 0 0 0 .708-.708l-7-7a.5.5 0 0 0-.708 0z"/>
                        </svg>
                    </p>
                    <p class="collapse text-primary multi-collapse">Pas avantageux</p>
                </td>
                <td class="text-secondary   ">
                    <p>
                        <svg width="50px" height="50px" viewBox="0 0 16 16" class="bi bi-check2" fill="currentcolor"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                        </svg>
                    </p>
                    <p class="collapse text-primary multi-collapse">Possible</p>
                </td>
            </tr>
            <tr class=" mx-0">
                <th>Puis-je être soumis à l’IR ?
                </th>
                <td class="text-secondary   ">
                    <p>
                        <svg width="50px" height="50px" viewBox="0 0 16 16" class="bi bi-check2" fill="currentcolor"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                        </svg>
                    </p>
                    <p class="collapse text-primary multi-collapse">Impôt sur les sociétés (IS) mais possibilité d’être
                        soumis à l’Impôt sur le revenu (IR) pendant 5
                        ans max sous conditions</p>
                </td>
                <td class="text-secondary   ">
                    <p>
                        <svg width="50px" height="50px" viewBox="0 0 16 16" class="bi bi-check2" fill="currentcolor"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                        </svg>
                    </p>
                    <p class="collapse text-primary multi-collapse">Impôt sur les sociétés (IS) mais possibilité d’être
                        soumis à l’Impôt sur le revenu (IR) pendant 5
                        ans max sous conditions</p>
                </td>
                <td class="text-secondary   ">
                    <p>
                        <svg width="50px" height="50px" viewBox="0 0 16 16" class="bi bi-check2" fill="currentcolor"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                        </svg>
                    </p>
                    <div class="collapse text-primary multi-collapse">
                        <p>Possible</p>
                        <p>Si associé personne physique: IR par défaut mais possibilité IS</p>
                        <p>Si associé personne morale: IS obligatoirement</p>
                    </div>
                </td>
                <td class="text-secondary   ">
                    <p>
                        <svg width="50px" height="50px" viewBox="0 0 16 16" class="bi bi-check2" fill="currentcolor"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                        </svg>
                    </p>
                    <p class="collapse text-primary multi-collapse">
                        Impôt sur les sociétés (IS) mais possibilité d’être soumis à l’Impôt sur le revenu si SARL « de
                        famille » pendant 5 ans max sous conditions
                    </p>
                </td>
                <td class="text-danger   ">
                    <p>
                        <svg width="50px" height="50px" viewBox="0 0 16 16" class="bi bi-x" fill="currentcolor"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M11.854 4.146a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708-.708l7-7a.5.5 0 0 1 .708 0z"/>
                            <path fill-rule="evenodd"
                                  d="M4.146 4.146a.5.5 0 0 0 0 .708l7 7a.5.5 0 0 0 .708-.708l-7-7a.5.5 0 0 0-.708 0z"/>
                        </svg>
                    </p>
                    <div class="collapse text-primary multi-collapse">
                        <p>Le régime classique de la micro-entreprise</p>
                        <p>Ou</p>
                        <p>Le versement libératoire</p>
                    </div>
                </td>
                <td class="text-secondary   ">
                    <p>
                        <svg width="50px" height="50px" viewBox="0 0 16 16" class="bi bi-check2" fill="currentcolor"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                        </svg>
                    </p>
                    <p class="collapse text-primary multi-collapse">Oui</p>
                </td>
                <td class="text-secondary   ">
                    <p>
                        <svg width="50px" height="50px" viewBox="0 0 16 16" class="bi bi-check2" fill="currentcolor"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                        </svg>
                    </p>
                    <p class="collapse text-primary multi-collapse">Oui, mais possibilité d’être à l’IS</p>
                </td>
            </tr>
            <tr class=" mx-0">
                <th>Puis-je être soumis à l’IS ?
                </th>
                <td class="text-secondary   ">
                    <p>
                        <svg width="50px" height="50px" viewBox="0 0 16 16" class="bi bi-check2" fill="currentcolor"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                        </svg>
                    </p>
                    <p class="collapse text-primary multi-collapse">Oui</p>
                </td>
                <td class="text-secondary   ">
                    <p>
                        <svg width="50px" height="50px" viewBox="0 0 16 16" class="bi bi-check2" fill="currentcolor"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                        </svg>
                    </p>
                    <p class="collapse text-primary multi-collapse">Oui</p>
                </td>
                <td class="text-secondary   ">
                    <p>
                        <svg width="50px" height="50px" viewBox="0 0 16 16" class="bi bi-check2" fill="currentcolor"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                        </svg>
                    </p>
                    <div class="collapse text-primary multi-collapse">
                        <p>Possible</p>
                        <p>Si associé personne physique: IR par défaut mais possibilité IS</p>
                        <p>Si associé personne morale: IS obligatoirement</p>
                    </div>
                </td>
                <td class="text-secondary   ">
                    <p>
                        <svg width="50px" height="50px" viewBox="0 0 16 16" class="bi bi-check2" fill="currentcolor"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                        </svg>
                    </p>
                    <p class="collapse text-primary multi-collapse">Oui</p>
                </td>
                <td class="text-danger   ">
                    <p>
                        <svg width="50px" height="50px" viewBox="0 0 16 16" class="bi bi-x" fill="currentcolor"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M11.854 4.146a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708-.708l7-7a.5.5 0 0 1 .708 0z"/>
                            <path fill-rule="evenodd"
                                  d="M4.146 4.146a.5.5 0 0 0 0 .708l7 7a.5.5 0 0 0 .708-.708l-7-7a.5.5 0 0 0-.708 0z"/>
                        </svg>
                    </p>
                    <div class="collapse text-primary multi-collapse">
                        <p>Le régime classique de la micro-entreprise</p>
                        <p>Ou</p>
                        <p>Le versement libératoire</p>
                    </div>
                </td>
                <td class="text-danger   ">
                    <p>
                        <svg width="50px" height="50px" viewBox="0 0 16 16" class="bi bi-x" fill="currentcolor"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M11.854 4.146a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708-.708l7-7a.5.5 0 0 1 .708 0z"/>
                            <path fill-rule="evenodd"
                                  d="M4.146 4.146a.5.5 0 0 0 0 .708l7 7a.5.5 0 0 0 .708-.708l-7-7a.5.5 0 0 0-.708 0z"/>
                        </svg>
                    </p>
                    <p class="collapse text-primary multi-collapse">
                        Le régime classique de la micro-entreprise
                    </p>
                </td>
                <td class="text-secondary   ">
                    <p>
                        <svg width="50px" height="50px" viewBox="0 0 16 16" class="bi bi-check2" fill="currentcolor"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                        </svg>
                    </p>
                    <p class="collapse text-primary multi-collapse">Oui, mais possibilité d’être à l’IR</p>
                </td>
            </tr>
            <tr class=" mx-0">
                <th>Puis-je transmettre mon entreprise simplement ?
                </th>
                <td class="text-secondary   ">
                    <p>
                        <svg width="50px" height="50px" viewBox="0 0 16 16" class="bi bi-check2" fill="currentcolor"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                        </svg>
                    </p>
                    <div class="collapse text-primary multi-collapse">
                        <p>Cession libre des actions</p>
                        <p>excepté si clause d’agrément présente dans les statuts ou dans le pacte d’actionnaire</p>
                    </div>
                </td>
                <td class="text-secondary   ">
                    <p>
                        <svg width="50px" height="50px" viewBox="0 0 16 16" class="bi bi-check2" fill="currentcolor"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                        </svg>
                    </p>
                    <p class="collapse text-primary multi-collapse">Cession libre des actions</p>
                </td>
                <td class="text-secondary   ">
                    <p>
                        <svg width="50px" height="50px" viewBox="0 0 16 16" class="bi bi-check2" fill="currentcolor"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                        </svg>
                    </p>
                    <p class="collapse text-primary multi-collapse">Cession libre des parts sociales</p>
                </td>
                <td class="text-secondary   ">
                    <p>
                        <svg width="50px" height="50px" viewBox="0 0 16 16" class="bi bi-check2" fill="currentcolor"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                        </svg>
                    </p>
                    <div class="collapse text-primary multi-collapse">
                        <p>Possible</p>
                        <p>Cession libre des parts sociales entre les conjoints / ascendants / descendants / héritiers /
                            associés</p>
                        <p>Pour les Tiers : procédure d’agrément si présente dans les statuts</p>
                    </div>
                </td>
                <td class="text-danger   ">
                    <svg width="50px" height="50px" viewBox="0 0 16 16" class="bi bi-x" fill="currentcolor"
                         xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                              d="M11.854 4.146a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708-.708l7-7a.5.5 0 0 1 .708 0z"/>
                        <path fill-rule="evenodd"
                              d="M4.146 4.146a.5.5 0 0 0 0 .708l7 7a.5.5 0 0 0 .708-.708l-7-7a.5.5 0 0 0-.708 0z"/>
                    </svg>
                </td>
                <td class="text-danger   ">
                    <svg width="50px" height="50px" viewBox="0 0 16 16" class="bi bi-x" fill="currentcolor"
                         xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                              d="M11.854 4.146a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708-.708l7-7a.5.5 0 0 1 .708 0z"/>
                        <path fill-rule="evenodd"
                              d="M4.146 4.146a.5.5 0 0 0 0 .708l7 7a.5.5 0 0 0 .708-.708l-7-7a.5.5 0 0 0-.708 0z"/>
                    </svg>
                </td>
                <td class="  ">
                    <p>Possible</p>
                    <div class="collapse text-primary multi-collapse">>
                        <p>Cession libre des parts sociales entre les conjoints / ascendants / descendants / héritiers /
                            associés </p>
                        <p>Pour les Tiers : procédure d’agrément si présente dans les statuts</p>
                    </div>

                </td>
            </tr>
            <tr class=" mx-0 mb-5">
                <th></th>
                <th><a href="{{ path('create_sas') }}" class="btn  btn-primary">Commencer</a></th>
                <th><a href="{{ path('create_sasu') }}" class="btn  btn-primary">Commencer</a></th>
                <th><a href="{{ path('create_eurl') }}" class="btn  btn-primary">Commencer</a></th>
                <th><a href="{{ path('create_sarl') }}" class="btn  btn-primary">Commencer</a></th>
                <th><a href="{{ path('create_me') }}" class="btn  btn-primary">Commencer</a></th>
                <th><a href="{{ path('create_ei') }}" class="btn  btn-primary">Commencer</a></th>
                <th><a href="{{ path('create_sci') }}" class="btn  btn-primary">Commencer</a></th>
            </tr>
            </tbody>
        </table>
    </section>
{% endblock %}
{% block stylesheets %}
    {{ parent () }}
    {# {{ encore_entry_link_tags('comparatif') }} #}
{% endblock %}
