 {% extends '_layout.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('tab1') }}
{% endblock %}

{% block title %}Je cree mon entreprise{% endblock %}

{% block body %}
    <section class="page-content container-fluid col-12 col-lg-10">

        <h1 class="text-center"> Créez votre entreprise en quelques clics </h1>
        <div class="text-center my-5 mx-auto w-75">
            <div class='tabbed round'>
                <ul class="nav nav-tabs">
                    <li class="nav-link">
                        <a  data-toggle="tab" href="#SAS">SAS</a>
                    </li>
                    <li class="nav-item">
                        <a  data-toggle="tab" href="#SASU">SASU</a>
                    </li>
                    <li class="nav-item">
                        <a data-toggle="tab" href="#SARL">SARL</a>
                    </li>
                    <li class="nav-item">
                        <a  data-toggle="tab" href="#EURL">EURL</a>
                    </li>
                    <li class="nav-item">
                        <a  data-toggle="tab" href="#SCI">SCI</a>
                    </li>
                    <li class="nav-item">
                        <a data-toggle="tab" href="#MICRO-ENTREPRISE">MICRO-ENTREPRISE</a>
                    </li>
                    <li class="nav-item">
                        <a  data-toggle="tab" href="#EI">EI</a>
                    </li>
                </ul>
            </div>

            {# <div class="text-center">
                <nav class="nav nav-pills">
                        <a class="nav-link-create active font-weight-bold" data-toggle="tab" href="#SAS">SAS</a>
                        <a class="font-weight-bold nav-link-create" data-toggle="tab" href="#SASU">SASU</a>
                        <a class="font-weight-bold nav-link-create" data-toggle="tab" href="#SARL">SARL</a>
                        <a class="font-weight-bold nav-link-create" data-toggle="tab" href="#EURL">EURL</a>
                        <a class="font-weight-bold nav-link-create" data-toggle="tab" href="#SCI">SCI</a>
                        <a class="font-weight-bold nav-link-create" data-toggle="tab" href="#MICRO-ENTREPRISE">MICRO-ENTREPRISE</a>
                        <a class="font-weight-bold nav-link-create" data-toggle="tab" href="#EI">EI</a>
                </nav>
            </div> #}

            <div id="myTabContent" class="tab-content shadow-effect">
                <div class="tab-pane fade pt-0" id="SARL">
                    <div class="card bg-white mb-1">
                        <div class="card-header text-secondary text-center">STATUT SARL</div>
                        <div class="card-body">
                            <fieldset class="form-group text-center">
                                <legend>Création de votre SARL</legend>
                                <p>La SARL est une structure sécurisante qui vous protège et limite votre responsabilité
                                    au
                                    montant de vos apports.
                                    Créer votre SARL et recevez vos statuts en quelques minutes, c’est super IZY ! </p>

                                <a class="btn btn-primary border-secondary" href="{{ path('create_sarl') }}">Commencer</a>
                            </fieldset>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade pt-0" id="SASU">
                    <div class="card bg-white mb-1">
                        <div class="card-header text-secondary text-center">STATUT SASU</div>
                        <div class="card-body">
                            <fieldset class="form-group text-center">
                                <legend>Création de votre SASU</legend>
                                <p>La SASU est une SAS avec un seul associé. Elle offre une grande liberté quant à
                                    l’organisation et le fonctionnement de votre société.
                                    Créer votre SASU et recevez vos statuts en quelques minutes, c’est super IZY ! </p>
                                <a class="btn btn-primary border-secondary" href="{{ path('create_sasu') }}">Commencer</a>
                            </fieldset>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade pt-0" id="EURL">
                    <div class="card bg-white mb-1">
                        <div class="card-header text-secondary text-center">STATUT EURL</div>
                        <div class="card-body">
                            <fieldset class="form-group text-center">
                                <legend>Création de votre EURL</legend>
                                <p>L’EURL est une SARL avec un seul associé. Comme la SARL, elle limite votre
                                    responsabilité
                                    à hauteur du montant de vos apports, ainsi votre patrimoine est protégé.
                                    Créer votre EURL et recevez vos statuts en quelques minutes, c’est super IZY ! </p>
                                <a class="btn btn-primary border-secondary" href="{{ path('create_eurl') }}">Commencer</a>
                            </fieldset>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade pt-0" id="MICRO-ENTREPRISE">
                    <div class="card bg-white mb-1">
                        <div class="card-header text-secondary text-center">STATUT MICRO-ENTREPRISE</div>
                        <div class="card-body">
                            <fieldset class="form-group text-center">
                                <legend>Création de votre MICRO-ENTREPRISE</legend>
                                <p>Le statut d’auto-entrepreneur connait un grand succès depuis quelques années grâce à
                                    ses
                                    nombreux avantages, tant sur le plan social que sur le plan fiscal.
                                    Démarrer votre activité et bénéficier d’un accompagnement de qualité 100% en
                                    ligne.</p>
                                <a class="btn btn-primary border-secondary" href="{{ path('create_me') }}">Commencer</a>
                            </fieldset>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade active show pt-0" id="SAS">
                    <div class="card bg-white mb-1">
                        <div class="card-header text-secondary text-center">STATUT SAS</div>
                        <div class="card-body">
                            <fieldset class="form-group text-center">
                                <legend>Création de votre SAS</legend>
                                <p>La SAS est la forme juridique la plus populaire depuis quelques années grâce à sa
                                    grande
                                    flexibilité dans l’organisation de son fonctionnement tout en limitant votre
                                    responsabilité.
                                    Créer votre SAS et recevez vos statuts en quelques minutes, c’est super IZY ! </p>
                                <a class="btn btn-primary border-secondary" href="{{ path('create_sas') }}">Commencer</a>
                            </fieldset>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade pt-0" id="SCI">
                    <div class="card bg-white mb-1">
                        <div class="card-header text-secondary text-center">STATUT SCI</div>
                        <div class="card-body">
                            <fieldset class="form-group text-center">
                                <legend>Création de votre SCI</legend>
                                <p>La SCI ou Société Civile Immobilière est une structure qui vous permet de faciliter la
                                    transmission d’un bien immobilier.
                                    Créer votre SCI et recevez vos statuts en quelques minutes, c’est super IZY ! </p>
                                <a class="btn btn-primary border-secondary" href="{{ path('create_sci') }}">Commencer</a>
                            </fieldset>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade pt-0" id="EI">
                    <div class="card bg-white mb-1">
                        <div class="card-header text-secondary text-center">STATUT EI</div>
                        <div class="card-body">
                            <fieldset class="form-group text-center">
                                <legend>Création de votre Entreprise Individuelle</legend>
                                <p>L’entreprise individuelle (EI) présente plusieurs avantages. Simple à créer,
                                    elle permet de développer une activité professionnelle sans se dissocier de son
                                    exploitant. </p>
                                <a class="btn btn-primary border-secondary" href="{{ path('create_ei') }}">Commencer</a>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
            <a href="{{ path('comparatif_statut') }}" class="btn btn-outline-dark btn-lg btn-block my-4">Je ne connais pas ma
                forme juridique</a>
        </div>
    </section>
{% endblock %}
