{#{% extends '_layout.html.twig' %}#}
{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent () }}
    {#{{ encore_entry_link_tags('home') }}#}
    {#     {{ encore_entry_link_tags('howitwork') }} #}
  {{ encore_entry_link_tags('tab1') }} 
{% endblock %}
{% block title %}Je cree mon entreprise{% endblock %}

{% block body %}
<style>

body{ background:url('https://westfieldcc.files.wordpress.com/2011/10/simple-blur-ipad-background.jpg') no-repeat center center fixed;
   background-size: cover;
   text-align: center;
}
    .espace { padding-top: 5em; margin: 1em auto; max-width: 1000px; width: 95%; font: 18px/1.5 sans-serif; }
    /*.esp { margin-right: 1em;}*/
    .backgroundtitre { background:  indigo; color: white}
    .tabbed ul li.active, .tabbed ul li a.active, .tabbed ul li.active::before, .tabbed ul li.active::after {
    
    color: #000000;
    background-color: whitesmoke;}

</style>


<div class="espace" >
    {# <h1>Bonjour {{ controller_name }}! ✅</h1> #}
   <h3 class="mb-4" style="color:white"> Créez votre entreprise en quelques clics </h3>
    
{#<ul class="nav nav-tabs bg-dark">#}
{#  <li class="nav-item">#}
{#    <a class="nav-link active btn btn-warning" data-toggle="tab" href="#SARL">SARL</a>#}
{#  </li>#}
{#  <li class="nav-item">#}
{#    <a class="nav-link btn btn-warning" data-toggle="tab" href="#SASU">SASU</a>#}
{#  </li>#}
{#  <li class="nav-item">#}
{#    <a class="nav-link btn btn-warning" data-toggle="tab" href="#EURL">EURL</a>#}
{#  </li>#}
{#  <li class="nav-item">#}
{#    <a class="nav-link btn btn-warning" data-toggle="tab" href="#MICRO-ENTREPRISE">MICRO-ENTREPRISE</a>#}
{#  </li>#}
{#  <li class="nav-item">#}
{#    <a class="nav-link btn btn-warning" data-toggle="tab" href="#SAS">SAS</a>#}
{#  </li>#}
{#  <li class="nav-item">#}
{#    <a class="nav-link btn btn-warning" data-toggle="tab" href="#SCI">SCI</a>#}
{#  </li>#}
{#  <li class="nav-item">#}
{#    <a class="nav-link btn btn-warning" data-toggle="tab" href="#IE">IE</a>#}
{#  </li>#}
{#</ul>#}

<div class='tabbed round'>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a  data-toggle="tab" href="#SAS">SAS</a>
    </li>
    <li class="nav-item">
      <a  data-toggle="tab" href="#SASU">SASU</a>
    </li>
    <li class='nav-item active'>
      <a data-toggle="tab" href="#SARL">SARL</a>
    </li>
    <li class="nav-item">
      <a  data-toggle="tab" href="#EURL">EURL</a>
    </li>
    <li class="nav-item">
      <a  data-toggle="tab" href="#SCI">SCI</a>
    </li>
     <li class='nav-item'>
      <a data-toggle="tab" href="#MICRO-ENTREPRISE">MICRO-ENTREPRISE</a>
    </li>
     <li class="nav-item">
      <a  data-toggle="tab" href="#EI">EI</a>
    </li>
  </ul>
</div>

<div id="myTabContent" class="tab-content">
  
  <div class="tab-pane fade" id="SARL">
    <div class="card text-white bg-primary mb-1" style="max-width: 80rem;">
    <div class="card-header">STATUT SARL</div>
    <div class="card-body">
      <fieldset class="form-group">
        <legend>Création de votre SARL</legend>
       <p>La SARL est une structure sécurisante qui vous protège et limite votre responsabilité au montant de vos apports. 
          Créer votre SARL et recevez vos statuts en quelques minutes, c’est super IZY ! </p>
      </fieldset>
        <a class="btn btn-primary" href="{{path('create_sarl')}}">Je choisis SARL</a>
      </fieldset>
    </div>
   </div>
  </div>
  
  
  <div class="tab-pane fade" id="SASU">
    <div class="card text-white bg-primary mb-1" style="max-width: 80rem;">
    <div class="card-header">STATUT SASU</div>
    <div class="card-body">
      <fieldset class="form-group">
        <legend>Création de votre SASU</legend>
       <p>La SASU est une SAS avec un seul associé. Elle offre une grande liberté quant à l’organisation et le fonctionnement de votre société. 
           Créer votre SASU et recevez vos statuts en quelques minutes, c’est super IZY ! </p>
      </fieldset>
        <a class="btn btn-primary" href="{{path('create_sasu')}}">Je choisis SASU</a>
      </fieldset>
    </div>
   </div>
  </div>
  
   <div class="tab-pane fade" id="EURL">
    <div class="card text-white bg-primary mb-1" style="max-width: 80rem;">
    <div class="card-header">STATUT EURL</div>
    <div class="card-body">
      <fieldset class="form-group">
        <legend>Création de votre EURL</legend>
       <p>L’EURL est une SARL avec un seul associé. Comme la SARL, elle limite votre responsabilité à hauteur du montant de vos apports, ainsi votre patrimoine est protégé. 
          Créer votre EURL et recevez vos statuts en quelques minutes, c’est super IZY ! </p>
      </fieldset>
        <a class="btn btn-primary" href="{{path('create_eurl')}}">Je choisis EURL</a>
      </fieldset>
    </div>
   </div>
  </div>

 <div class="tab-pane fade" id="MICRO-ENTREPRISE">
    <div class="card text-white bg-primary mb-1" style="max-width: 80rem;">
    <div class="card-header">STATUT MICRO-ENTREPRISE</div>
    <div class="card-body">
      <fieldset class="form-group">
        <legend>Création de votre MICRO-ENTREPRISE</legend>
       <p>Le statut d’auto-entrepreneur connait un grand succès depuis quelques années grâce à ses nombreux avantages, tant sur le plan social que sur le plan fiscal. 
          Démarrer votre activité et bénéficier d’un accompagnement de qualité 100% en ligne.</p>
      </fieldset>
        <a class="btn btn-primary" href="{{path('create_me')}}">Je choisis MICRO-ENTREPRISE</a>
      </fieldset>
    </div>
   </div>
  </div>
    
  <div class="tab-pane fade active show" id="SAS">
    <div class="card text-white bg-primary mb-1" style="max-width: 80rem;">
    <div class="card-header">STATUT SAS</div>
    <div class="card-body">
      <fieldset class="form-group">
        <legend>Création de votre SAS</legend>
       <p>La SAS est la forme juridique la plus populaire depuis quelques années grâce à sa grande flexibilité dans l’organisation de son fonctionnement tout en limitant votre responsabilité. 
          Créer votre SAS et recevez vos statuts en quelques minutes, c’est super IZY ! </p>
      </fieldset>
        <a class="btn btn-primary" href="{{path('create_sas')}}">Je choisis SAS</a>
      </fieldset>
    </div>
   </div>
  </div>
  <div class="tab-pane fade" id="SCI">
    <div class="card text-white bg-primary mb-1" style="max-width: 80rem;">
    <div class="card-header">STATUT SCI</div>
    <div class="card-body">
      <fieldset class="form-group">
        <legend>Création de votre SCi</legend>
       <p>La SCI ou Société Civile Immobilière est une structure qui vous permet de facilité la transmission d’un bien immobilier. 
          Créer votre SCI et recevez vos statuts en quelques minutes, c’est super IZY !  </p>
      </fieldset>
        <a class="btn btn-primary" href="{{path('create_sci')}}">Je choisis SCI</a>
      </fieldset>
    </div>
   </div>
  </div>
  <div class="tab-pane fade" id="EI">
<div class="card text-white bg-primary mb-1" style="max-width: 80rem;">
    <div class="card-header">STATUT EI</div>
    <div class="card-body">
      <fieldset class="form-group">
        <legend>Création de votre Entreprise Individuelle</legend>
       <p>L’entreprise individuelle (EI) présente plusieurs avantages. Simple à créer, 
          elle permet de développer une activité professionnelle sans se dissocier de son exploitant. </p>
      </fieldset>
        <a class="btn btn-primary" href="{{path('create_ei')}}">Je choisis EI</a>
      </fieldset>
    </div>
   </div>
  </div>
  {#<div class="tab-pane fade" id="dropdown1">#}
  {#  <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork.</p>#}
  {#</div>#}
  {#<div class="tab-pane fade" id="dropdown2">#}
  {#  <p>Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master cleanse gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan DIY, art party locavore wolf cliche high life echo park Austin. Cred vinyl keffiyeh DIY salvia PBR, banh mi before they sold out farm-to-table VHS viral locavore cosby sweater.</p>#}
  {#</div>#}
</div>
<a href="{{ path('comparatif_statut')}}" class="btn btn-outline-primary btn-lg btn-block">Je ne connais pas ma forme juridique</a>
</div>


</div>
{% block footer %}{% endblock %}
{% endblock %}
    
