{% extends '_layout.html.twig' %}

{% block title %}Izy Contrat Dashboard{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('dashboardPage') }}
{% endblock %}
{% block body %}
    <section class="page-content container-fluid col-10">
        <h1 class="col-10">Dashboard</h1>
        <h2 class="col-10">Profil</h2>
        <div class="profile">
            <div class="pr-2">
                <div>{{ person.firstname }} {{ person.lastname }}</div>
                <div>{{ user.email }}</div>
            </div>
            <div>
                <div>{{ person.phoneNumber }}</div>
                <div>{{ person.address }}</div>
            </div>
        </div>
    </section>
{% endblock %}
