{% extends '_layout.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block body %}
    <section class="page-content container-fluid col-10 col-lg-10 pb-4">
        {% for category, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
        <h2>Modifier mot de passe</h2>
        {#<form>#}

            {{ form_start(formUser) }}
            
            {{ form_row(formUser.oldPassword) }}
            {{ form_row(formUser.password) }}
            
            <button class="btn btn-primary offset-11" type="submit">Modifier Mot De Passe</button>
            {{ form_end(formUser) }}

        {#</form>#}
    </section>
{% endblock %}
